<div class="dropbutton-wrapper dropbutton-multiple">
   <div class="dropbutton-widget">
      <ul class="dropbutton">
        <li class="dropbutton-action">
          <input class="button" type="submit" value="Add Text">
        </li>
{#          <li class="dropbutton-toggle">
            <button type="button">
               <span class="dropbutton-arrow">
                  <span class="visually-hidden">List additional actions
                  </span>
               </span>
            </button>
         </li>#}
        <li class="dropbutton-action secondary-action">
          <input class="button" type="submit" value="Add Link">
        </li>
        <li class="dropbutton-action secondary-action">
          <input class="button" type="submit" value="Add Document">
        </li>
        <li class="dropbutton-action secondary-action">
          <input class="button" type="submit" value="Add Phone Number">
        </li>
        <li class="dropbutton-action secondary-action">
          <input class="button" type="submit" value="Add Email">
        </li>
        <li class="dropbutton-action secondary-action">
          <input class="button" type="submit" value="Add Date">
        </li>
      </ul>
   </div>
</div>
