<div class="dropbutton-wrapper dropbutton-multiple">
   <div class="dropbutton-widget">
      <ul class="dropbutton">
         <li class="dropbutton-action">
            <input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-field-page-content-add-more-add-more-button-text" formnovalidate="formnovalidate" type="submit" id="edit-field-page-content-add-more-add-more-button-text" name="field_page_content_text_add_more" value="Add Text">
         </li>
         <li class="dropbutton-toggle">
            <button type="button">
               <span class="dropbutton-arrow">
                  <span class="visually-hidden">List additional actions
                  </span>
               </span>
            </button>
         </li>
         <li class="dropbutton-action secondary-action">
            <input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-field-page-content-add-more-add-more-button-image" formnovalidate="formnovalidate" type="submit" id="edit-field-page-content-add-more-add-more-button-image" name="field_page_content_image_add_more" value="Add Image">
         </li>
         <li class="dropbutton-action secondary-action">
            <input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-field-page-content-add-more-add-more-button-video" formnovalidate="formnovalidate" type="submit" id="edit-field-page-content-add-more-add-more-button-video" name="field_page_content_video_add_more" value="Add Video">
         </li>
         <li class="dropbutton-action secondary-action">
            <input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-field-page-content-add-more-add-more-button-blockquote" formnovalidate="formnovalidate" type="submit" id="edit-field-page-content-add-more-add-more-button-blockquote" name="field_page_content_blockquote_add_more" value="Add Blockquote">
         </li>
         <li class="dropbutton-action secondary-action">
            <input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-field-page-content-add-more-add-more-button-callout" formnovalidate="formnovalidate" type="submit" id="edit-field-page-content-add-more-add-more-button-callout" name="field_page_content_callout_add_more" value="Add Callout">
         </li>
         <li class="dropbutton-action secondary-action">
            <input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-field-page-content-add-more-add-more-button-contact-callout" formnovalidate="formnovalidate" type="submit" id="edit-field-page-content-add-more-add-more-button-contact-callout" name="field_page_content_contact_callout_add_more" value="Add Contact Callout">
         </li>
         <li class="dropbutton-action secondary-action">
            <input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-field-page-content-add-more-add-more-button-document" formnovalidate="formnovalidate" type="submit" id="edit-field-page-content-add-more-add-more-button-document" name="field_page_content_document_add_more" value="Add Document">
         </li>
         <li class="dropbutton-action secondary-action">
            <input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-field-page-content-add-more-add-more-button-category-list" formnovalidate="formnovalidate" type="submit" id="edit-field-page-content-add-more-add-more-button-category-list" name="field_page_content_category_list_add_more" value="Add Category List">
         </li>
         <li class="dropbutton-action secondary-action">
            <input class="field-add-more-submit button js-form-submit form-submit" data-drupal-selector="edit-field-page-content-add-more-add-more-button-service" formnovalidate="formnovalidate" type="submit" id="edit-field-page-content-add-more-add-more-button-service" name="field_page_content_service_add_more" value="Add Service">
         </li>
      </ul>
   </div>
</div>
