.field-edit {
  position: relative;
  padding-left: $space-double;
  border-bottom: 1px solid $gray-lightest;
  padding-bottom: $space;

  &::before {
    content: "\2630";
    color: $gray-lightest;
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: $space-one-half;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
