<main class="content-main">
  <section class="content-secondary">
    <div class="tab">Status</div>
    <div class="tab">Dates</div>
    <div class="tab">Financials</div>
    <div class="tab active">Contacts</div>
    <div class="tab">Project Details</div>
    <div class="tab">General Notes</div>
    <div class="add-tab">
      <a href="#">Add a new section</a>
    </div>
  </section>
  <section class="content-primary">
    <div class="text-area">
      <p class="text-area__label">Supplier</p>
      <div class="text-area__content">Text area 1</div>
    </div>
    <div class="text-area">
      <p class="text-area__label">Supplier Contact</p>
      <div class="text-area__content">Text area 2</div>
    </div>
    <div class="text-area">
      <p class="text-area__label">Supplier Signature</p>
      <div class="text-area__content">Text area 3</div>
    </div>
    <div class="text-area">
      <p class="text-area__label">T-Mobile</p>
      <div class="text-area__content">Text area 3</div>
    </div>
    <div class="add-field">
      <a href="#">Add a new field</a>
      {% include "@molecules/dropdown.twig" %}
    </div>
  </section>
</main>
