<main class="content-main">
  <section class="content-secondary">
    <div class="tab tab-edit">Status</div>
    <div class="tab tab-edit">Dates</div>
    <div class="tab tab-edit">Financials</div>
    <div class="tab tab-edit active">Contacts</div>
    <div class="tab tab-edit">Project Details</div>
    <div class="tab tab-edit">General Notes</div>
    <div class="add-tab">
      <a href="#">Add a new section</a>
    </div>
  </section>
  <section class="content-primary">
    <div class="text-area field-edit">
      <p class="text-area__label">Supplier</p>
      <div class="text-area__content">Awesome Supplier</div>
    </div>
    <div class="text-area field-edit">
      <p class="text-area__label">Supplier Contact</p>
      <div class="text-area__content">(123) 456-7890</div>
    </div>
    <div class="text-area field-edit">
      <p class="text-area__label">Supplier Signature</p>
      <div class="text-area__content">
        <a href="#">Link to signature document</a>
      </div>
    </div>
    <div class="text-area field-edit">
      <p class="text-area__label">T-Mobile</p>
      <div class="text-area__content">Text area</div>
    </div>
    <div class="add-field">
      <a href="#">Add a new field</a>
      {% include "@molecules/dropdown.twig" %}
    </div>
  </section>
</main>
